{% extends 'index.html' %}

{% block content %}
{% block title %} Nosotros {% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <br><br><br>
    <h1> Sobre nosotros y nuestro compromiso con la sociedad </h1>

    <p> Bienvenidos a Tienda Conrado, donde puedes encontrar los productos de tecnología más innovadores y de la más alta calidad. Desde smartphones y tabletas hasta portátiles y cámaras, en nuestra tienda ofrecemos una amplia variedad de productos de las marcas líderes en la industria.

        En Tienda Conrado, estamos comprometidos con ofrecer una experiencia de compra excepcional. Nuestro equipo de expertos está siempre dispuesto a ayudarte en todo lo que necesites, desde responder a tus preguntas sobre productos hasta asesorarte en la elección del equipo adecuado para tus necesidades.
        
        Además, en Tienda Conrado nos enorgullece ofrecer precios competitivos y promociones especiales en una amplia variedad de productos. También ofrecemos una garantía de calidad en todos nuestros productos, para que puedas estar seguro de que estás haciendo una inversión en un producto de calidad que durará mucho tiempo.
        
        En Tienda Conrado, nuestra misión es hacer que la tecnología sea accesible para todos. Ya sea que estés buscando el último modelo de smartphone o una cámara de alta calidad para capturar tus mejores momentos, estamos seguros de que encontrarás lo que buscas en nuestra tienda.
        
        ¡Visítanos hoy mismo en Tienda Conrado y descubre cómo la tecnología puede cambiar tu vida para mejor!</p>
</body>
</html>

{% endblock %}