{% extends 'index.html' %}
{% block content %}
{% block title %} ¡Contáctanos! {% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br>
    <h2> Si tienes alguna pregunta o comentario sobre nuestros productos o servicios, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y responder a todas tus preguntas. </h2>

    <p> Puedes contactarnos a través de los siguientes medios: </p>
    <li>Teléfono: llámanos al número +54928035531 y uno de nuestros representantes te atenderá de manera personalizada. </li>

    <li> Correo electrónico: envíanos un correo electrónico a la dirección contacto@tiendaconrado.com y te responderemos en un plazo de 24 horas.</li>  

    <li> Redes sociales: también puedes contactarnos a través de nuestras cuentas en redes sociales. Síguenos en Facebook, Twitter e Instagram y envíanos un mensaje directo.</li>    

    
</body>
</html>

{% endblock %}