{% extends 'index.html' %}
{% block content %}
{% block title %} Lista de productos {% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <br> <br>
    <h1> Lista de Productos </h1>
    {% for producto in productos %}     
        <h3>{{producto.nombre}} </h3>
        <p>SECCION: {{producto.seccion}} </p>
        <p>PRECIO: {{producto.precio}} </p>
    {% endfor %}

    <div class="mainLinks">
      <a href="/AgregarProducto/">Agregar producto</a>  
      <a href="/Productos/">Buscar productos</a>  
      <a href="/">Volver a Inicio</a>
    </div>
</body>
</html>

{% endblock %}

